body{
	background: #81F7F3;
}
h1{
	color:#1F0635;
	font-family: Arial;
	font-size:30px;
	text-align: center;
	
}
p{
		color:#1F0635;
	font-family: Arial;
	font-size:15px;
	text-align: center;
	font-weight:bold;
	font-style: italic;
}
table{
	color:#1F0635;
	font-family: Arial;
	font-size:15px;
	text-align: center;
	font-weight:bold;
	font-style: italic;
	border:2;
	width:90%;
	height:60%;
	border-color:#1F0635;
	border-style:solid;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}
tr{
	color:#F7F6F8;
	font-family: Arial;
	font-size:15px;
	text-align: center;
	background-color:#1F0635;
	border-color:#F7F6F8;
	border-style:solid;

}
th{
	color:#F7F6F8;
	font-family: Arial;
	font-size:15px;
	text-align: center;
	border-color:#F7F6F8;
	border-style:solid;
}
td{
	color:#F7F6F8;
	font-family: Arial;
	font-size:15px;
	text-align: center;
	border-color:#F7F6F8;
	border-style:solid;
}
/*para quitar el borde y fondo a los iconos*/
.sin{
	border-style:transparent;
    border:0;
	background-color:transparent;
}
.tam{
	width: 400;
	height:150;
}
.tam1{
	width: 250;
	height:200;
}
.tam2{
	width: 100;
	height:100;
}
.tam3{
	width: 250;
	height:180;
	}

font{
		color:#1F0635;
	font-family: Arial;
	font-size:15px;
	text-align: center;
	font-weight:bold;
	font-style: italic;
}
div{
}
.div1{
background:#D2B4DE;
border:2;
border-radius:10px;
border-style:solid;
border-color:#E6B0AA;
margin:6 auto;
height:13%;
width:100%;
}
.div2{
background:#52BE80;
border:2;
border-radius:10px;
border-style:solid;
border-color:#85C1E9;
margin:6 auto;
height:22%;
width:100%;
}
.div3{
background:#F9E79F;
border:2;
border-radius:10px;
border-style:solid;
border-color:#CB4335;
margin:6 auto;
height:12%;
width:60%;
}
.div4{
background:#76D7C4;
border:5px solid #76D7C4;
text-align:center;
}
.caja{
height: 300px;
width: 300px;
background:#CB4335;
border:1px solid #52BE80;
margin:5px;
color:black;
text-align:center;
font-family:"Arial";
display:inline-block;
}
.caja:hover{
/*Agregar sombra al div*/
/*        x y radio color*/
box-shadow:0 0 10px blue;
/*Cambia la escala de tamaño de la caja*/
transform: scale(1.3);
}
.caja-texto{
padding-bottom:5px;
padding-top:2px;
font-size:30px;
color: black;
font-weight:bold;
}
.texto-adicional{
padding-bottom:5px;
padding-top:2px;
font-size:30px;
color: black;
font-weight:bold;
}
@font-face{
	font-family:"mifuente";
	src: url(Friz Quadrata Bold.otf);
}

#fuente-Friz{
font-family:"mifuente";
}
.contenedor{
display:flex;
}
.div5{
background:#7E57C2;
height:180px;
width:450px;
display:inline-block;
transition:all 1s;
transition-timing-function:ease;
	}
.div5:hover{
width:900px;
}
.div6{
background:#42A5F5;
height:180px;
width:450px;
display:inline-block;
transition:all 1s;
transition-timing-function:ease;
	}
.div6:hover{
width:900px;
}
.div7{
background:#E91E63;
height:180px;
width:450px;
display:inline-block;
transition:all 1s;
transition-timing-function:ease;
	}
.div7:hover{
width:900px;
}
.div8{
background:#E53935;
height:180px;
width:450px;
display:inline-block;
transition:all 1s;
transition-timing-function:ease;
	}
.div8:hover{
width:900px;
}